* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 194;
    font-size: 62.5%;
    --text-color: #f2f2f2;
    --ff-primary: 'Popins', 'sans-serif';
    --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: #000;
}

body * {
    font-family: var(--ff-primary);
}

.sr-only {
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border-width: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

body #app {
    padding: 2rem;
    margin: 0 auto;
    max-width: 112rem;
}

body #app header {
    display: flex;
    align-items: center;
    margin: 2.5rem 0 8.7rem 0;
    justify-content: space-between;
}

body #app header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

body #app header .search {
    display: flex;
    align-items: center;
}

body #app header .search input {
    border: none;
    height: 3.2rem;
    width: 46.2rem;
    padding: 0.8rem;
    color: #7c7c8a;
    margin-right: 1rem;
    border-radius: .4rem;
    background: #06181C;
}

body #app header .search button {
    gap: 1rem;
    border: none;
    display: flex;
    cursor: pointer;
    color: #f2f2f2;
    font-weight: bold;
    align-items: center;
    border-radius: .4rem;
    padding: 1.2rem 3.2rem;
    justify-content: center;
    background-color: #065E7C;
}

body #app header .search button:hover {
    filter: brightness(1.1);
}

body #app .table-container {
    max-height: 38rem;
    overflow-y: scroll;
    border-radius: 1.2rem;
}

body #app table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

body #app table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

body #app table th {
    padding: 1.5rem;
    text-align: left;
    font-weight: normal;
    background-color: #092D38;
}

body #app table th:first-child {
    border-top-left-radius: 1.2rem;
}

body #app table th:last-child {
    border-top-right-radius: 1.2rem;
}

/* Pares */
body #app table tr:nth-child(even){
    background: #4A808C;
}

/* Impares */
body #app table tr:nth-child(odd){
    background: rgba(6, 22, 27, 0.5);
}

body #app table td {
    padding: 1.5rem;
    text-align: left;
}

body #app table td.user {
    gap: 1rem;
    display: flex;
    align-items: center;
}

body #app table td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

body #app table td.user a {
    text-decoration: none;
}

body #app table td.user a p {
    font-weight: bold;
}

body #app table td .remove {
    border: none;
    cursor: pointer;
    color: #F75A68;
    background: none;
    font-weight: bold;
}